* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    /* width: 150px;
    height: 64px; */
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}

.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* Header Navigation style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    align-items: center;

}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    /* margin: 50px; */
    padding: 50px;


}

.nav-title {
    font-size: 45px;
    font-weight: 800;

}

/* header banner */
.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}


.banner-title {
    color: black;
    font-size: 60px;
    font-size: 700;
    margin-bottom: 30px;
}

.banner-sub-title {
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 30px;

}

.banner-description {
    font-size: 13px;
    color: var(--Dark-03, #757575);
    margin-bottom: 30px;

}

.btn-contact {
    color: #FD6E0A;
    background-color: #FFF8F3;
    padding: 18px 35px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 2px solid #FD6E0A;

}

/* -----------Main----------------- */
main {
    width: 1140px;
    margin: 0 auto;
}

/* ----------------About------------ */
.about {
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;

}

.section-title {

    margin-bottom: 30px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
}

.about-info {
    text-align: center;
    /* margin: 0 30px; */
}

.info-title {
    color: #757575;
    font-size: 20px;
}

.info-description {
    color: var(--Dark-02, #474747);
    font-weight: 700;
    font-size: 20px;
}

.what-i-do {
    margin-top: 130px;
    text-align: center;
}

.skills-container {
    display: flex;
}

.skill {
    margin: 20px 30px;
    width: 267px;
    height: 250px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-title {
    color: var(--Dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.skill-description {
    margin-top: 20px;
    color: #757575;
    font-size: 16px;
}